### Data Cleaning

* **Importing the Data set(CSV)**


* **Observe the Data set**

    * Identify the rows/columns and their relation
    
    * Identify the index column (Primary key column)
    
    * Check if there are any duplicate columns
    
    * which rows to be skipped
    
    
* **Assign the Index Column (to avoid creation of new index)**


* **Skip irrelevant rows (to avoid display of index row)**


* **Drop duplicate/irrelevant columns**

In [62]:
import pandas as pd

df = pd.read_csv("olympics.csv", index_col=0, skiprows=1)
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

### Data Retrieval

* **Index Column**
* **Column names**
* **Second Column**
* **Any Column**
* **First Row**
* **Any Row**
* **Single cell data**

In [63]:
# Gives list of index values in the form of list

df.index

Index(['Afghanistan', 'Algeria', 'Argentina', 'Armenia', 'Australasia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       ...
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands',
       'Yugoslavia', 'Independent Olympic Participants', 'Zambia', 'Zimbabwe',
       'Mixed team'],
      dtype='object', length=146)

In [64]:
# Gives the column names in the form of list

df.columns

Index(['# Summer', 'Gold', 'Silver', 'Bronze', 'Total', '# Winter', 'Gold.1',
       'Silver.1', 'Bronze.1', 'Total.1', '# Games', 'Gold.2', 'Silver.2',
       'Bronze.2', 'Combined total', 'ID'],
      dtype='object')

In [80]:
# To retieve particular column

df["Gold.1"]

Afghanistan                         0
Algeria                             0
Argentina                           0
Armenia                             0
Australasia                         0
                                   ..
Yugoslavia                          0
Independent Olympic Participants    0
Zambia                              0
Zimbabwe                            0
Mixed team                          0
Name: Gold.1, Length: 146, dtype: int64

In [66]:
# Upto how many rows u want to access

df.head(6)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS

In [47]:
# Based on the index value, retrieve specific row from data set

df.iloc[4]

№ Summer           2
01 !               3
02 !               4
03 !               5
Total             12
№ Winter           0
01 !.1             0
02 !.1             0
03 !.1             0
Total.1            0
№ Games            2
01 !.2             3
02 !.2             4
03 !.2             5
Combined total    12
Name: Australasia (ANZ) [ANZ], dtype: int64

In [68]:
# Based on the index name, retieving specific row from the data set

df.loc['Vietnam']

# Summer           14
Gold                0
Silver              2
Bronze              0
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            14
Gold.2              0
Silver.2            2
Bronze.2            0
Combined total      2
ID                VIE
Name: Vietnam, dtype: object

In [69]:
df.index[1]

'Algeria'

In [75]:
df["Gold"]

Afghanistan                          0
Algeria                              5
Argentina                           18
Armenia                              1
Australasia                          3
                                    ..
Yugoslavia                          26
Independent Olympic Participants     0
Zambia                               0
Zimbabwe                             3
Mixed team                           8
Name: Gold, Length: 146, dtype: int64

In [72]:
# returns the 5th country gold medals

df["Gold"][4]

3

In [76]:
# returns the 5th country gold medals

df.iloc[4][1]

3

In [79]:
# it gives the combined total of country India

df.loc["India"][-2]

26

## Number based Queries

In [83]:
# Display the data of Combined totals with country names

df["Combined total"]

Afghanistan                          2
Algeria                             15
Argentina                           70
Armenia                             12
Australasia                         12
                                    ..
Yugoslavia                          87
Independent Olympic Participants     3
Zambia                               2
Zimbabwe                             8
Mixed team                          17
Name: Combined total, Length: 146, dtype: int64

In [86]:
# Display the data of United states

df.loc["United States"]

# Summer            26
Gold               976
Silver             757
Bronze             666
Total             2399
# Winter            22
Gold.1              96
Silver.1           102
Bronze.1            84
Total.1            282
# Games             48
Gold.2            1072
Silver.2           859
Bronze.2           750
Combined total    2681
ID                 USA
Name: United States, dtype: object

In [101]:
# Return the name of the last country

df.index[-1]

'Mixed team'

In [98]:
# Return the total no. of games participated by 10th country in the summer games

df["# Summer"][9]

8

In [99]:
# Return the total no. of medals won by the last country

df["Combined total"][-1]

17

## Name based Queries

In [105]:
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

In [104]:
# Return total no. of Gold medals won by United States

df.loc["United States"]["Gold.2"]

1072

In [107]:
# Difference b/w summer Gold medals of USA and China

abs(df.loc["United States"]["Gold"]) - (df.loc["China"]["Gold"])

775

In [113]:
# Maximum Gold medal count in Winter Olympics

df["Gold.1"].max()

# max(df["Gold.1"])

118

In [118]:
# Sum of all Gold medals in Summer olympics

df["Gold"].sum()

# sum(df["Gold"])

4809

In [132]:
# Return a boolean series object for the max no. of Gold medals in summer olympics

df[df["Gold"] == df["Gold"].max()].index[0]

'United States'

In [139]:
# Return the data of the country that got max no. of medals in summer olympics

df[df.index == df["Total"].idxmax()].index[0]

'United States'

In [141]:
# Name the country that got max medals overall

df["Combined total"].idxmax()

'United States'