In [1]:
print(type("hello"))

<class 'str'>

In [3]:
class Point:
    def distFromOrigin(self,x,y):
        return(x*x + y*y)**0.5
    
distFromOrigin(3,4)

NameError: name 'distFromOrigin' is not defined

In [4]:
p = Point()

In [7]:
p.distFromOrigin(3,4)

5.0

In [8]:
Point().distFromOrigin(3,4)

5.0

In [ ]:
class Point:
    def __init__(self, x = 0, y = 0):
        self.x = x
        self.y = y
    
    def distFromOrigin(self):

## Regular Expressions

- For checking available data valid for us or not
- To extract the data

In [9]:
import re

### re.search()

- Two arguments
        re.search(str_pattern, str_data)

In [13]:
# Only first occurrance result will give

name = "Sumana Sam"
print(re.search("a",name))

<re.Match object; span=(3, 4), match='a'>

In [14]:
name = "Sumana Sam"
print(re.search("k",name))

None

In [15]:
# print all the names which contains "n" in their names by using regular Expression

names = ["Sumana","Malavika","Vasishta","Vennela","Swapna"]
for name in names:
    if re.search("n",name):
        print(name)

Sumana
Vennela
Swapna

In [19]:
# print all the names which contains "n" or "s" in their names by using regular Expression

for name in names:
    if (re.search("n", name)) or (re.search("s", name)):
        print(name)

Sumana
Vasishta
Vennela
Swapna

### re.match(str_pattern, str_data)

> ***It matches the first letter in the string. If it matches it gives result or else it terminates and gives NONE***

In [23]:
name = "sumana sam"
print(re.match('s',name))

<re.Match object; span=(0, 1), match='s'>

In [24]:
name = "sumana sam"
print(re.match('u',name))

None

In [25]:
name = "sumana sam"
print(re.match('su',name))

<re.Match object; span=(0, 2), match='su'>

In [27]:
name = "sumana sam"
print(re.match('sm',name))

None

### re.findall(str_pattern, str_data)

> ***It will returns all the possibilities in a list***

In [33]:
name = "sumana sam"
print(re.findall("m",name))

['m', 'm']

### Special characters with special meaning in REGEX

### . dot

> **Any single character**

In [41]:
# Atleast one character must there in string

print(re.search(".",""))

None

In [42]:
print(re.search(".",name))

<re.Match object; span=(0, 1), match='s'>

In [40]:
print(re.search("u.",name))

<re.Match object; span=(1, 3), match='um'>

In [39]:
print(re.search("m.",name))

<re.Match object; span=(2, 4), match='ma'>

In [45]:
print(re.match(".", name))

<re.Match object; span=(0, 1), match='s'>

In [47]:
print(re.match("s.", name))

<re.Match object; span=(0, 2), match='su'>

In [44]:
print(re.match("u.", name))

None

In [51]:
re.search("...", name)

In [52]:
print(re.match(".....", name))

<re.Match object; span=(0, 5), match='suman'>

In [55]:
print(re.match("............", name))

None

In [61]:
numbers = ["36","367","3667","456","4567"]
for number in numbers:
    print(re.search("...",number))

None
<re.Match object; span=(0, 3), match='367'>
<re.Match object; span=(0, 3), match='366'>
<re.Match object; span=(0, 3), match='456'>
<re.Match object; span=(0, 3), match='456'>

In [63]:
numbers = ["36","367","3667","456","4567"]
for number in numbers:
    if (re.search("...",number)):
        print(number)

367
3667
456
4567

## ^ cap

> **Starting with**

In [74]:
print(re.search("^s", name))

<re.Match object; span=(0, 1), match='s'>

In [ ]:
print(re.search("^a", name))

In [73]:
print(re.search("^su", name))

<re.Match object; span=(0, 2), match='su'>

In [72]:
print(re.search("^sa", name))

None

### $ dollar

> **Ending with**

In [78]:
print(re.search("u$",name))

None

In [79]:
print(re.search("m$",name))

<re.Match object; span=(9, 10), match='m'>

In [82]:
numbers = ["36","367","3667","456","4567"]
for number in numbers:
    if (re.search("...$",number)):
        print(number)

367
3667
456
4567

In [83]:
numbers = ["36","367","3667","456","4567"]
for number in numbers:
    if (re.search("^...$",number)):
        print(number)

367
456

In [84]:
numbers = ["36","367","3667","356","4567"]
for number in numbers:
    if (re.search("^3..$",number)):
        print(number)

367
356

In [87]:
numbers = ["36","367","3667","356","4567"]
for number in numbers:
    if (re.search("..7$",number)):
        print(number)

367
3667
4567

### \d backslash d

> **Any single digit**

In [88]:
print(re.search("\d","sumana3667"))

<re.Match object; span=(6, 7), match='3'>

In [103]:
# Find the sum of all digits in data

novel = "Every 1 has a story or 100 memories and 200 heartbreaks"

print(sum(map(int,re.findall("\d",novel))))

4

## map(fun, collect_items)

In [104]:
s = re.findall("\d",novel)
a = list(map(int,s))

In [105]:
sum(a)

4

In [108]:
re.findall("\d\d\d",novel)

['100', '200']

## {} curly braces

> **{min,max}**

In [112]:
# Anysingle character with range of 2

re.search(".{2}",name)

In [116]:
print(re.search(".{18}",name))

None

In [119]:
# To get the value so give range

print(re.search(".{10,18}",name))

<re.Match object; span=(0, 10), match='sumana sam'>

In [127]:
novel = "Every 1 has a story or 100 memories and 20000 heartbreaks"
print(re.search("\d{1,4}",novel))
print(re.findall("\d{1,4}",novel))

<re.Match object; span=(6, 7), match='1'>
['1', '100', '2000', '0']

## [] square brackets

> **either a or c or h**

> **either the letters in the set**

In [128]:
# Accept names which starts with "a","c","h"

re.search("[ach]", name)

In [129]:
re.search("[ach]", "shiney")

## - hyphen

> **to give range for letters to accept**

In [132]:
re.search("[a-h]", "shiney")

In [133]:
re.findall("[a-h]", "shiney")

['h', 'e']

## [^a-z]

> **neither a to z**

In [134]:
re.search("[^a-h]", "shiney")

In [136]:
re.findall("[^y]", "shiney")

['s', 'h', 'i', 'n', 'e']

In [141]:
# Try mobile number pattern

numbers = ["8885122583","949011102","5703434314","8328093290"]
for mobile in numbers:
    if re.search("^[6-9]{1}[0-9]{9}$",mobile):
    #if re.search("^[6-9]\d{9}$",mobile)
        print(mobile)

8885122583
8328093290

## \D 

> **otherthan digit(\d)**

> **means any single character otherthan digit**

In [142]:
re.search("\D","123 sam")

## \s

> **any spacing single character**

In [149]:
re.search("\s",name)

## \S

> **otherthan \s**

In [152]:
re.search("\S","sam sumana")

## \w

> **single identifier character**

> **a-z  A-Z     _    0-9**

In [154]:
re.search("\w"," _9az")

In [158]:
re.findall("\w"," _9az")

['_', '9', 'a', 'z']

In [156]:
re.search("\w", "sumana")

## \W

> **otherthan \w**

> **otherthan identifier characters**

In [157]:
re.search("\W","sam3 _ _6sumana")

In [159]:
# Find the count of lowercase a-z in the given data

novel = "Every 1 has a Story"
a = re.findall("[a-z]",novel)

In [161]:
len(a)

12

## * star

> **zero or more occurrances**

In [167]:
print(re.search("a",name))

<re.Match object; span=(3, 4), match='a'>

In [168]:
print(re.search("a*",name))

<re.Match object; span=(0, 0), match=''>

In [175]:
print(re.search("6*","66676736673634563676354"))

<re.Match object; span=(0, 3), match='666'>

In [174]:
print(re.findall("6*","66676736673634563676354"))

['666', '', '6', '', '', '66', '', '', '6', '', '', '', '6', '', '6', '', '6', '', '', '', '']

In [180]:
re.search("^s.*m$","sapsim")

## + plus

> **one or more occurances**

In [184]:
re.search("6+","53380868789") # 1 or more

In [185]:
re.search("6*","5338088789") # 0 or more

In [186]:
re.search("^s.+m$","sapsim")

In [188]:
print(re.search("^s.+m$","sm"))

None

In [192]:
print(re.findall("[^a,e,i,o,u]",name))

['s', 'm', 'n', ' ', 's', 'm']

In [227]:
# Write pattern for accepting gmail

n = input()
if re.search("[\w]*[\w\.]*(?!\.)@gmail.com",n): #([\w]*[\w\.]*(?!\.)@gmail.com)
    print("YES")
else:
    print("NO")

samsumana!@gmail.com
YES

In [244]:
# Write pattern to find 3 digit numbers and calculate the sum

content = "Suma got 100 for Maths, 150 for Physics and from school to college total 4000 marks and 20"

a = re.findall("\d+",content)
b = list(filter(lambda x:len(x)==3, a))
print(sum(map(int,b)))

250