## Pandas

- First we have to import panda library

- Data anlyse in 2 different ways
         - Series  :- 1D Array
                 - Scalar Values
                 - Dictionary Values and
                 - Ndarray values
         - Data Frames  :- 2D Array contains rows and columns
                 - Dictionaries
                 - Series data
                 - 2D Numpy Ndarray

In [65]:
import pandas as pd
import numpy as np
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [66]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [67]:
obj2 = pd.Series([4,7,-5,3],index = ["a","b","c","d"])
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [68]:
obj2["a"]

4

In [69]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [70]:
obj2["a"] = 5

In [71]:
obj2

a    5
b    7
c   -5
d    3
dtype: int64

In [72]:
obj2[obj2>0]

a    5
b    7
d    3
dtype: int64

In [73]:
obj2*2

a    10
b    14
c   -10
d     6
dtype: int64

In [74]:
obj2>0

a     True
b     True
c    False
d     True
dtype: bool

In [75]:
np.exp(obj)

0      54.598150
1    1096.633158
2       0.006738
3      20.085537
dtype: float64

In [76]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [77]:
obj2

a    5
b    7
c   -5
d    3
dtype: int64

In [78]:
"b" in obj2

True

In [79]:
"f" in obj2

False

In [80]:
sdata = {"Ohio":35000, "Texas": 67000, "Oregon":64000, "Ukraine": 5000}
obj3 = pd.Series(sdata)
obj3

Ohio       35000
Texas      67000
Oregon     64000
Ukraine     5000
dtype: int64

In [81]:
states = ["California", "Ohio", "Oregon", "Texas"]

In [82]:
obj4 = pd.Series(sdata, index = states)
obj4

California        NaN
Ohio          35000.0
Oregon        64000.0
Texas         67000.0
dtype: float64

In [83]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [84]:
pd.isnull(obj3)

Ohio       False
Texas      False
Oregon     False
Ukraine    False
dtype: bool

In [85]:
obj3

Ohio       35000
Texas      67000
Oregon     64000
Ukraine     5000
dtype: int64

In [86]:
obj3+obj4

California         NaN
Ohio           70000.0
Oregon        128000.0
Texas         134000.0
Ukraine            NaN
dtype: float64